repos:
-   repo: https://github.com/psf/black
    rev: 25.11.0
    hooks:
    -   id: black
        args: ["--safe", "--line-length=79"]
-   repo: https://github.com/PyCQA/flake8
    rev: 7.3.0
    hooks:
    -   id: flake8
